<!--nav start-->
<aside>
  <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
  	  <p class="centered">
        <%= link_to_void do %>
          <img src="/assets/ui-sam.jpg" class="img-circle" width="60">
        <% end %>
      </p>
  	  <h5 class="centered">头像</h5>
  	  	
      <li class="mt">
        <a href="index.html">
          <i class="fa fa-dashboard"></i>
          <span>111</span>
        </a>
      </li>

      <li class="sub-menu">
        <%= link_to back_articles_path, class: "#{'active' if controller_name == 'articles' }" do %>
          <i class="fa fa-dashboard"></i>
          <span>资讯管理</span>
        <% end %>
      </li>

      <li class="sub-menu">
        <a href="javascript:;" class="<%= 'active' if (%W(accounts).include?(controller_name)) %>" >
          <i class="fa fa-desktop"></i>
          <span>用户管理</span>
        </a>
        <ul class="sub">
          <li class="<%= 'active' if current_page?(back_accounts_path) %>"><%= link_to '用户列表', back_accounts_path %></li>
          <li><a  href="panels.html">菜单0-3</a></li>
        </ul>
      </li>

      

      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-cogs"></i>
          <span>菜单1</span>
        </a>
          <ul class="sub">
            <li><a  href="calendar.html">菜单1-1</a></li>
            <li><a  href="gallery.html">菜单1-2</a></li>
            <li><a  href="todo_list.html">菜单1-3</a></li>
          </ul>
      </li>
      <li class="sub-menu">
        <a class="" href="javascript:;" >
          <i class="fa fa-book"></i>
          <span>菜单2</span>
        </a>
        <ul class="sub">
          <li class=""><a  href="blank.html">菜单2-1</a></li>
          <li><a  href="login.html">菜单2-2</a></li>
          <li><a  href="lock_screen.html">菜单2-3</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<!--nav end-->
<script type="text/javascript">
  
</script>