<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>测试<%#= Setting.site_name %> <%#= yield(:title).presence %></title>
    <!-- <link rel="icon" href="<%#= asset_path 'bitbug_favicon.ico' %>" mce_href="<%#= asset_path 'bitbug_favicon.ico' %>" type="image/x-icon" /> -->
    <%= javascript_include_tag "/javascripts/jquery.js" %>
    <%= javascript_include_tag "/javascripts/jquery_ujs.js"%>
    <%= stylesheet_link_tag "application" %>
    <%= yield :css %>
    <%= javascript_include_tag "application" %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
  </head>
<html>
<body>

<%= yield %>

</body>
</html>
